body {
    margin: 0;
    padding: 0;
    background-image: url('img/bg.jpg');
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.halUtama {
    width: 1690px;
    height: 700px;
    background-image: url('img/containerUtama.png');
}

.bottom {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
}

.footbar {
    position: relative;
    right: 60px;
    bottom: 25px;
    width: 1310px;
    height: 110px;
    background-image: url('img/Frame\ 3.png')
}

.footbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footbar ul li {
    list-style-type: none;
    padding: 30px 30px;
    position: relative;
    left: 100px;
}

.footbar ul li a {
    text-decoration: none;
    color: #00E6FB;
    font-size: 20px;
}

.circle {
    width: 230px;
    height: 220px;
    background-image: url(img/lingkaran.png);
    animation: alternate;
}

